@model Size

<div class="container">
    <div class="col-12 text-center mt-4 mb-5">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true"><strong>@Model.Name</strong></li>
            <li class="list-group-item">Product count: @Model.ProductSizes.Count</li>
        </ul>
    </div>

    <div class="col">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.ProductSizes)
            {
                var product = item.Product;
                <div class="col">
                    <div class="card">
                        <img src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault(img => img.ProductId == product.Id && img.IsPrimary == true).Url" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: $@product.Price</p>
                            <p class="card-text">SKU: @product.SKU</p>
                            <p class="card-text">@product.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a asp-action="index" asp-controller="size" class="btn btn-success">
            Go back
        </a>
    </div>
</div>
