@model List<Color>
@{ int count = 0;}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title .h1">Color</h1>

            <a asp-action="create" asp-controller="color" class="btn btn-success">
                Create color
            </a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Product count
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.ProductColors.Count
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Delete" asp-controller="Color" asp-route-id="@item.Id" class="btn-sm btn btn-danger">
                                            <i class="mdi mdi-delete-forever btn-icon-primary">
                                            </i>
                                        </a>
                                        <a asp-action="Update" asp-controller="Color" asp-route-id="@item.Id" class="btn-sm btn btn-warning">
                                            <i class="mdi mdi-lead-pencil btn-icon-primary">
                                            </i>
                                        </a>
                                        <a asp-action="Detail" asp-controller="Color" asp-route-id="@item.Id" class="btn-sm btn btn-primary">
                                            <i class="mdi mdi-open-in-new btn-icon-primary">
                                            </i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




